<!DOCTYPE html>
<html lang="eu">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>   
<body>

<form method="POST">
    <p> {{worked}} </p>
    <p>Enter Parameters</p>
    <table>
        <tr><p> Subject Code <input Name="subjectCode" type="text"> </p> </tr>
        <tr><p> Question <input Name="question" type="text"> </p> </tr>
        <tr><p> Option 1 <input Name="option1" type="text"> </p> </tr>
        <tr><p> Option 2 <input Name="option2" type="text"> </p> </tr>
        <tr><p> Option 3 <input Name="option3" type="text"> </p> </tr>
        <tr><p> Option 4 <input Name="option4" type="text"> </p> </tr>
        <tr><p> Correct Option <input Name="correctOption" type="number" value="0-10"> </p> </tr>
        <tr><p> Difficulty <input Name="difficulty" type="number" value="0-10"> </p> </tr> 
        <tr><p> Discrimination <input Name="discrimination" type="number" value="0-10"></p></tr>
        <tr><p> Guess <input Name="guess" type="number" value="0-10"></p></tr>
        <tr><p><input type="submit" value="SUBMIT"></p></tr>
    </table>
</form>
</body>
</html>