<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/styles/home_style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title> HOME</title>
</head>
<body>
    <header>
      <div class="container">
        <a href="#" class="head">QuizSmart</a>
        <div class="menu-toggle"></div>
        <nav>
            <ul>
                  <li><a href="#!" >Home</a></li>           
                  <li><a href="#!">Log In</a>
                     <ul>
                       <li><a href="login">Student Login</a></li>
                       <li><a href="admin">Teacher Login</a></li>
                     </ul>
                  </li>
                  <li><a href="#!">About Us</a>                    
                        <ul>
                           <li><a href="#!">Avirup Debnath</a></li>   
                        </ul>
                  </li>
            </ul>
         </nav>
      </div>
   </header>
   
   <div class=content>
      <div class="quiz-mascot">
         <img src="../static/img/character_home.jpg">
       </div>

      <div class="quiz-desc">
         <h1>CREATE ENGAGING EXAMS AND QUIZZES FOR STUDENTS</h1>
            <p id="description">
               <h2 style="text-align: left">Feeling demotivated with biased quizzes? </h4> 
               <h4>Let QuizSmart solve your problem. We recognize your ability and eliminate bias, thereby presenting you with a moderate quiz which adapts its level of difficulty as per your performance.</h4>
               <button type="button" class="reg-btn" onclick="window.location.href='sign_up'">Register Now</button> 
            </p>
       </div>
   </div> 

   <div class="features">
      <h1>Why use our online quiz environment?</h1>
      <h3>Do you want to engage your target audience in a fun ,playful and impartial way? Take a look at our features</h3>
      <div class="feature-1">
      <h3>Ease to Use </h3>  
         <div class="feature-desc-1">
            QuizSmart is a user friendly and minimalistic quizzing platform, with provisions for the administrator to securely add questions subjectwise to the question bank.
         </div>
      </div>
      <div class="feature-2">
      <h3>Adaptive</h3>  
         <div class="feature-desc-2">
            QuizSmart dynamically modifies the presentation of material in response to student performance. Best-of-breed systems capture fine-grained data and use learning analytics to enable human tailoring of responses.
         </div>
      </div>
      <div class="feature-3">
      <h3>Free Service</h3>  
         <div class="feature-desc-3">
            We do not charge you a dime. This application is aimed at improving your quizzing experience and making quizzes less intimidating. Happy Quizzing!
         </div>
      </div>
   </div>

   <footer id="footer">
         &copy;QuizSmart Learning Platform
     </footer>
    
</body>
</html>
