<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/styles/student_landing.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Start Quiz</title>
</head>
<body>
    
    <header>
        
        <div class="top-bar">
            <a href="#" class="head-text">QuizSmart</a>
            <div class="nav-bar">
                <nav>
                    <ul>
                        <li><a href="#!">{{username}}</a>                        
                            <ul>
                                <li><a href='/login'>Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    

    <div class="container">
        <section>
            <video src='../static/img/smoke.mp4' autoplay muted></video>
            <h1>
                <span>W</span>
                <span>E</span>
                <span>L</span>
                <span>C</span>
                <span>O</span>
                <span>M</span>
                <span>E</span>
            </h1>
            
        </section>
    </div>

    <div class="separator">
        <p>TOPIC-WISE QUIZZES</p>
    </div>
    <div class="img-list">
        
        <div class="box">
            <a href="quiz_ui/MA101">
            <div class="img-box">
                <img src="../static/img/mathematics.jpg">
            </div>
            <div class="img-text">
                <div class="content">
                    <h2>Mathematics</h2>
                    <p> Test your mental mathematics and geometry skills. Bring out the mathematician in you. Go embarass yourself.</p>
                </div>
            </div>
            </a>
        </div>
        <div class="box">
            <a href="quiz_ui/CS101">
            <div class="img-box">
                <img src="../static/img/computer.jpeg">
            </div>
            <div class="img-text">
                <div class="content">
                    <h2>Computer Science</h2>
                    <p> Do you like to call yourself a computer geek? Take this quiz and you will know for sure.</p>
                </div>
            </div>
            </a>
        </div>
        <div class="box">
            <a href="quiz_ui/EN101">
            <div class="img-box">
                <img src="../static/img/english.jpg">
            </div>
            <div class="img-text">
                <div class="content">
                    <h2>English</h2>
                    <p> They say technology has stunted the average man's literary capabilities. Allow us to quantize your literary flame with this short quiz.</p>
                </div>
            </div>
            </a>
        </div>
        <div class="box">
            <a href="quiz_ui/HS101">
            <div class="img-box">
                <img src="../static/img/history.jpg">
            </div>
            <div class="img-text">
                <div class="content">
                    <h2>History</h2>
                    <p> How well do you know the history of this world </p>
                </div>
            </div>
            </a>
        </div>
    </div>
    <footer id="footer">
        &copy;QuizSmart Learning Platform
    </footer>
        

    
</body>
</html>